<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1> 
		<div class="topnav">
  <p><a class="active" href="/list">Home</a></p>
  <p><a  href="/about1">About</a></p>
  <p><a  href="/contact">Contact</a></p>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

	</div>

	<div class="pdlist">
		<br>{{#rows}}
		<div class="products">
			<div class="name">	{{name}} </div><br>
			<div class="type">	{{type}} </div><br>
			<div class="description">	{{description}} </div><br>
			<div class="brand">	{{brand}} </div><br>
			<div class="price">	{{price}} </div><br>
		</div>
		<img src="{{image}}" width="200" height="200"><br>
		<br>

		<div class="button">
					<p><a class="button" type="submit" href="/order">Order Now</a></p>
		</div>
		{{/rows}}
	</div>

	
</body>
</html>
